/***all link color***/
a{color:#2139a9!important}

/***IR-report highlighted settings, search box and actions***/
.LabelStyle{font-size:15px;
            font-weight:700;
            color:#000;
            height:23px}

.lk_cell{display:block;
         background-color:#ff0!important;
         text-decoration:none;
         font-size:16px;color:black!important;font-weight:bold;
         height:25px;}

.special1_cell{display:block;
         background-color:lightblue!important;
         text-decoration:none;
         font-size:17px;color:black!important;font-weight:bold;
         height:25px;}         

.normal_cell{font-size:16px;
             font-weight:bold;
             color:#000;
             height:29px;
             width:100%;}

.hl_cell{font-size:17px;
                font-weight:bold;                 
                height:25px;
                width:100%;}

/**IR Highlighted TEXT as a button to call extended region****/
.green_cell{ font-size:16px;
             font-weight:bold;
             color:white!important;
             height:35px!important;
             margin:0;
             padding:0;
             line-height: 30px;
             background-color:#2e951c!important;
             }

.red_cell{   font-size:16px;
             font-weight:bold;
             color:white!important;
             height:35px!important;
             margin:0;
             padding:0;
             line-height: 30px;
             background-color:#c31616!important;
             }   
          
.orange_cell{
             font-size:16px;
             font-weight:bold;
             color:white!important;
             height:35px!important;
             margin:0;
             padding:0;
             line-height: 30px;
             background-color:#e98f18!important;
             }  

.title_cell{ font-size:16px;
             font-weight:bold;
             color:black!important;
             height:35px!important;
             margin:0;
             padding:0;
             line-height: 30px;
             background-color:#cce5ff!important;
             }    

.grey_cell{ font-size:16px;
             font-weight:bold;
             color:black!important;
             height:35px!important;
             margin:0;
             padding:0;
             line-height: 30px;
             background-color:#cbc8c8!important;
             }         

/****remove Dialog Title bar****/
.no-close .ui-dialog-titlebar{display:none}

/***Extended Report from Row (used in Scanner app)****/
.prodinfo{padding:1px!important;
          font-size:12pt!important;
          color:#000!important;
          font-weight:700!important;
          text-align:center!important;
          height:20px;
          background-color:#ff0!important;
          --a-gv-row-hover-background-color:#ff0!important;/* hovering effects */
         }

.a-Collapsible-icon{width:130px!important;
                    height:25px!important;
                    background-image:linear-gradient(rgb(206, 225, 241),rgb(75, 125, 233),darkblue);
                    color:#000;}
                    
.t-Button--stretch{height:50px!important}
/*displaying hyperlink text as block*/
.table_lk{
    display: block;
}

/**expand button size***/
.ui-button {
    --jui-icon-size: var(--a-button-icon-size);
    height: 100%;
    width: 100%;
}

/***Display only Item values***/
.apex-item-display-only {
   font-weight: bold!important;
   font-size: 16px!important;
   }
/******app-icon*******/
.app-icon {
    background-image: url(app-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: #81BB5F;
}

/***Turning off camera***/
.HideWebCam{
   display: none!important;
}
